* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #141414;
}

.my_header {
    height: 70px;
    width: 100%;
    background-color: #0c0c0c;
}

#movie_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#movie_container>* {
    padding-bottom: 2px;
}

.original_language img,
.your_language img {
    width: 35px;
    vertical-align: middle;
}