* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #141414;
    padding-bottom: 300px;
}


/* HEADER */

.my_header,
.my_nav,
.searchbar,
.second_nav {
    flex-wrap: nowrap;
}

.my_header {
    height: 70px;
    max-width: 100%;
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
}

.my_header .searchbar input {
    height: 40px;
    width: 210px;
    outline: none;
    font-size: 1em;
    margin-left: 7px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 2px white;
    border-color: #dae0e0;
}

.searchbar i {
    font-size: 1.4em;
    margin-right: 2px;
    vertical-align: middle;
}

#logo {
    width: 130px;
    margin-left: 45px;
    padding-top: 3px;
}

.my_nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 0.9em;
    padding: 5px;
}

.my_nav ul li:first-child {
    font-weight: 900;
    font-size: 1em;
}

.my_nav ul li:hover,
.second_nav i:hover,
.second_nav ul li:first-child:hover,
.searchbar i:hover {
    color: rgb(184, 190, 190);
}

.my_nav ul li,
#logo,
.my_header i,
.second_nav ul li,
.second_nav img {
    cursor: pointer;
}

.second_nav {
    display: flex;
    align-items: center;
}

.second_nav ul li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    line-height: 70px;
    padding: 10px;
}

.second_nav i:first-child {
    font-size: 1.3em;
}

.second_nav ul li:last-child {
    margin-left: 5px;
}

.second_nav img {
    width: 50px;
    line-height: 70px;
    vertical-align: middle;
    margin-right: 4px;
}


/* INIZIO DEL MAIN */

.my_main {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

#movie_container {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    transform-origin: bottom;
    transition: 0.5s;
    transition-delay: 0.15s;
    margin-bottom: 100px;
}

#movie_container>* {
    padding: 5px;
}

.original_language img,
.your_language img {
    width: 35px;
    vertical-align: middle;
}

.found_image {
    width: 285px;
    object-fit: contain;
    padding: 5px;
    cursor: pointer;
}

.null {
    width: 285px;
    height: 171px;
    cursor: pointer;
    padding: 5px;
}

.onHover {
    display: none;
    position: absolute;
    top: 90.5%;
    z-index: 1000;
    background-color: #242323;
    width: 285px;
}

.onHover i {
    cursor: pointer;
}

.image_container {
    width: 100%;
    height: 100%;
}

#movie_container:hover,
#movie_container:focus {
    transform: scale(1.25);
    z-index: 5;
    outline: none;
}

#movie_container:hover .onHover,
#movie_container:focus .onHover {
    display: block;
    outline: none;
    padding: 10px;
}

.principal_info {
    position: absolute;
    top: 74.5%;
    left: 7%;
    width: 287px;
    height: fit-content;
    max-height: 100px;
}

.principal_info h4,
.principal_info h2 {
    width: fit-content;
    padding: 5px;
}

.principal_info h4 {
    background-color: rgba(39, 39, 39, 0.445);
    border-radius: 10px;
}

.principal_info h2 {
    font-size: 1.35em;
}

#movie_container:hover .principal_info,
#movie_container:focus .principal_info {
    top: 12%;
    left: 6%;
    cursor: pointer;
    color: rgba(218, 255, 117, 0.39);
}

#movie_container:hover .principal_info,
#movie_container:focus .principal_info {
    background-color: rgba(39, 39, 39, 0.445);
    width: 230px;
}

#movie_container:hover .principal_info h2,
#movie_container:hover .principal_info h4,
#movie_container:focus .principal_info h2,
#movie_container:focus .principal_info h4 {
    background-color: initial;
}

#movie_container:hover .principal_info h2,
#movie_container:focus .principal_info h2 {
    font-size: 1em;
}

.welcome {
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 55px;
}

.welcome .attention {
    width: 50vw;
    border: 1px solid white;
    padding: 10px;
}

.attention span {
    color: red;
}

.welcome h2 {
    padding-top: 50px;
    font-size: 2em;
}

.welcome h2 span {
    font-size: 2em;
}